#home-page aside {
  width: 30%;
  height: 55%;
  background: linear-gradient(329.54deg, #279e8e 0%, #00c0c0 100%);
  padding: 30px;
  padding-top: 95px;
  position: absolute;
  bottom: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}


#menu ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: inherit;
  list-style: none;
  display: grid;

  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
}
#menu ul li {
  display: inline;
  border-bottom: 1px solid #ededed;
}
#menu ul li:hover {
  display: inline;
  border-bottom: 1px solid #3c77c4;
}

#menu ul li a {
  padding: 1px 10px;
  display: inline-block;
  width: 100%;
  background-color: inherit;
  color: #333;
  text-decoration: none;
  
  font-size: 38px;
  font-weight: 600;
}

#menu ul li a:hover {
  background-color: inherit;
  color: #6d6d6d;
}

#home-page .footer-area {
  height: 10%;
  width: 100%;
  background-color: rgb(33, 12, 82);
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 15;
}

#home-page .main-wrapper {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 70%;
  height: 55%;
  background-color: rgb(244, 245, 253);

  display: flex;

  transition: background-color 0.6s;
  z-index: 10;
}

.header-wq {
  width: 100%;
  height: 90px;

  font-size: 32px;
  line-height: 34px;
  color: #5c8599;
  font-weight: 700;

  border-bottom: 1px solid #d3e2e5;

  position: absolute;
}
.header-wq h1 {
  font-size: 40px;
  font-weight: 700;
  height: 100%;
  width: 70%;
  position: absolute;
  display: block;
  margin-top: 27px;
  margin-left: 25px;
}

.new-wq {
  width: 50px;
  height: 50px;
  background: #f5f8fa;
  border: 1px dashed #96d2f0;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
 
  position: absolute;
  
  right: 0;
  margin-right: 25px;
  margin-top: 24px;
  cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.wq-wrapper {
  display: flex;
  width: 100%;
  height: calc(100%-90px);

  position: absolute;
  top: 90px;
  margin-top: 20px;
  margin-left: 20px;
}
.content {
  display: inline;
  float: left;
}
.wq-wrapper .padding {
  padding-top: 300px;
}

.wq-view {
  height: 450px;
  width: 275px;
  background-size: contain;
  background: url("../../images/WQ-design.jpg");

  border-radius: 20px;
}
.wq-title {
  padding-top: 30px;
  padding-left: 25px;
  background-color: #d9f0fc;
  opacity: 0.87;
  width: 100%;
  color: #314955;
  font-weight: 700;
}
.wq-author {
  padding-left: 25px;
  background-color: #d9f0fc;
  opacity: 0.87;
  width: 100%;
  color: #182329;
  font-weight: 300;
  padding-bottom: 34px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
