#page-landing{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #020738 0%, #0a395f 100%);
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-landing .page-40{
    width: 30%;
    height:100%;
    background: linear-gradient(329.54deg, #0b0e31 0%, #08599b 100%); 
    /*mt bonito esse gradiente*/
    /*checar isso aqui viuu*/
    background: url('../../images/bg-1.png') no-repeat 20% center;

}


#page-landing .content-wrapper{
    position: relative; /*so the content gonna be relative to the existent div they're in*/
    width: 70%;
    max-width: 1100px;
    /* vai ocupar a largura inteira da tela mas se for maior que 1100px ele vai para ai - é a largura máxima disponível*/

    height: 100%;
    max-height: 680px;
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border: 40px;    
    /* arguments -> valor para eixo x e valor para eixo y */ 
    margin-left: 30px;
}

#page-landing .content-wrapper header {
    width: 100%;
    
    display: flex;
    flex-direction: row;
  
}

#page-landing .content-wrapper main {
    width: 100%;
    
}

#page-landing .content-wrapper header h1{
    font-size:76px;
    font-weight: 900;
}

#page-landing .content-wrapper main p{
margin-top: 40px;
font-size: 20px;
line-height: 27px;
max-width: 390px;
}

.content-wrapper .button-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    column-gap: 20%;
}

.content-wrapper .button-app{   
    width: 200px;
    height: 60px;
    background: #17c9ab;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s;
}

.content-wrapper .b-next{
    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
}

.content-wrapper .enter-app:hover{
    background: #96feff;
}